NodeServer/node_modules/*
Documentation/*.log
Documentation/*.aux
Documentation/*.out
Documentation/*.gz*
Documentation/SmartphoneGameApi.pdf
Documentation/SmartphoneGameApi.bbl
Documentation/SmartphoneGameApi.blg
Documentation/references.bak
Documentation/references.bib.bak
.idea