NodeServer/node_modules/*
NodeServer/package.json
Documentation/*.log
Documentation/*.aux
Documentation/*.out
Documentation/*.gz*
Documentation/SmartphoneGameApi.bbl
Documentation/SmartphoneGameApi.blg
Documentation/references.bak
Documentation/references.bib.bak
.idea
Database/storage
!Database/storage/.placeholder
scripts/DBPID
scripts/NODEPID
