extends ../../../frontendLayout

block header
    // Load Require JS
    script(data-main='/js/games/internal/CarsGame/head.js', src='/js/libs/require.js')
    // Load custom CSS
    link(rel='stylesheet', href='/stylesheets/games/internal/CarsGame/main.css')
block content
    div(id='carsGame', class='threeDContainer')
block footer
