#login-body {
    text-align: center;

    background-attachment: fixed; /* fix background gradient */
    height: 100%; /* fix sticky footer */
}
.login-border{
    border: 2px solid grey;
    border-radius: 9px;
}
#login-body #header{
    padding-top: 200px;
    color: #fff;
}

#login-body .content {
    min-height: 100%;
    margin: 0 auto -70px;
    width: 300px;
}


/****************************************************
* No JavaScript
*****************************************************/
#nojavascript {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    line-height: 125%;
    font-size: 24px;
}

#nojavascript div {
    display: block;
    position: relative;
    width: 50%;
    top: 35%;
    margin: 0px auto;
}
#nojavascript a {
    color: #fff;
    border-bottom: 2px dotted #fff;
}
#nojavascript a:hover, #nojavascript a:focus {
    color: #ddd;
}


/****************************************
* Login Form
*****************************************/
#login-form {
    width: 22em;
    margin: 2em auto 2em;
    padding: 1em;
}

#login-form fieldset {
    margin-bottom: 20px;
    text-align: left;
}

#login-form input {
    width: 249px;
    font-size: 20px;
    margin: 5px;
    padding: 11px 10px 9px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: text;
    font-family: inherit;
    -webkit-appearance:textfield; -moz-appearance:textfield;
    -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;
    border: none;
    border-radius: 5px;
}

#login-form input:disabled,
#login-form input:disabled:hover,
#login-form input:disabled:focus {
    background-color: rgba(230, 230, 230, .9);
    cursor: default;
    background-color: #1d2d44;
    color: #bbb;
}

#login-form input:hover,
#login-form input:focus,
#login-form input:active {
    color: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

#login-form button {
    width: auto;
    min-width: 25px;
    background-color: rgba(240,240,240,.9);
    font-weight: bold;
    cursor: pointer;
    background-color: #35537a;
    color: #ddd;
    float: right;
    padding: 10px 20px;
    margin-right: 7px;
    border: none;
}

#login-form input[type="submit"]:hover,
#login-form input[type="submit"]:focus {
    background-color: rgba(255, 255, 255, .95);
    background-color: #304d76;
    color: #fff;
}

#login-form input[type="submit"].enabled {
    background-color: #66f866;
    border: 1px solid #5e5;
}


/******************************
 * Set icons for the input fields
 ******************************/
#login-form #input-user,
#login-form #input-password {
    width: 223px;
    padding-left: 36px;
}
#login-form #password-icon,
#login-form #user-icon {
    position: absolute;
    left: 16px;
    top: 22px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: .3;
}
/* Fix password icon position */
#login-form #password-icon {
    top: 17px;
}


/*********************
* Group input fields *
*********************/
#login-form .groupTop,
#login-form .groupBottom {
    position: relative;
}
#login-form #input-user{
    margin-bottom: 0;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#login-form #input-password{
    margin-top: 0;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.1) inset;
}


/*************************
* Footer                 *
*************************/
#login-body p.info {
    width: 22em;
    margin: 0 auto;
    padding-top: 20px;
    color: #777;
    text-align: center;
}
#login-body p.info a {
    color: #777;
    font-weight: bold;
    padding: 13px;
    margin: -13px;
}
#login-body p.info a:hover, #login-body p.info a:focus {
    color: #fff;
}