#overlayMenu{
    position: absolute;
    /*visibility: hidden;*/

    height: 100%;
    width: 100%;

    display: flex;
    
    top: 0;

    background-color: transparent;
}

#overlayMenuContent{
    min-height: 20em;
    width: 30em;

    align-self: center;
    margin: 0 auto;

    background-color: rgba(0,0,0,0.9);
}

.overlayMenuItem{
    width: 50%;
    height: 5em;
    margin: 0 auto;

    margin-top: 1em;
    margin-bottom: 1em;

    /*background-color: #3F51B5;*/
    border: 1px solid #607D8B;

    text-align: center;
    line-height: 5;

    color: white;
    font-size: 1.4em;
 }