//- Created by michaelschleiss on 29.10.15.
doctype html
html
   head
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
      meta(name = 'mobile-web-app-capable', content = 'yes')
      link(rel='stylesheet', href='/stylesheets/controller/controllerModern.css')
   body
      div(id='content-body')
         //- button(id='simulateBtn' value='Simulate') Simulate
         label(id='lblCheckboxAcc' for='chkAcc')
            div(class="slideThree")
               input(type='checkbox' id='chkAcc' class='chkSensors' value ='Acceleration')
               label(for='chkAcc')
                  b(style="width:100%") &nbsp;ACC
         label(id='lblCheckboxRot' for='chkRot')
            div(class="slideThree")
               input(type='checkbox' id='chkRot' class='chkSensors' value ='Rotation')
               label(for='chkRot')
                  b(style="width:100%") &nbsp;ROT
         div(style="min-width:105%;padding-top: 1em;")
            div(id='leftContent' style="width:49%")
               div(id='leftContentEncap' style="padding-right: 4em;")
                  div(id='btn-left', class='hardwareButton')
            div(id='rightContent' style="width:49%")
               div(id='rightContentEncap' style="padding-left: 4em;")
                  div(id='btn-right', class='myButton')
         div(id='checkboxesBottom')
            label(id='lblCheckboxBat' for='chkBat')
               div(class="slideThree")
                  input(type='checkbox' id='chkBat' class='chkSensors' value ='Battery')
                  label(for='chkBat')
                     b(style="width:100%") &nbsp;BAT
            label(id='lblCheckboxVid' for='chkVid')
               div(class="slideThree")
                  input(type='checkbox' id='chkVid' class='chkSensors' value ='Audio')
                  label(for='chkVid')
                     b(style="width:100%") &nbsp;A/V

