//- Created by michaelschleiss on 29.10.15
doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/controller/controllerDemo.css')
    body
        div(id='content-body')
            div(class='myButton', id='A')
                span(class = 'buttonName') A
            div(class='myButton', id='B')
                span(class = 'buttonName') B
            div(id='a')
            div(id='b')
            div(id='c')
            div(id='x')
            div(id='y')
            div(id='z')
            div(id='i')
            div(id='batteryChargingState1') bat1
            div(id='batteryLevel1')  bat2
            div(id='batteryChargingTime1') bat3
            div(id='batteryDischargingTime1') bat4
            video(id='camera-stream' controls autoplay)
