//
   Created by michaelschleiss on 29.10.15.

//- controllerDemo.jade
doctype html
html
   head
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/controllerCSS/myButton.css')
      script(src="/js/libs/jquery-min.js")
   body
      div(id='leftContent')
         div(id='leftContentEncap')
            div(id='btn-left')
      div(id='rightContent')
         div(id='rightContentEncap')
            div(id='btn-right')
    input(type='checkbox' value ='acceleration')
    input(type='checkbox' value ='acceleration')

   script(src='/socket.io/socket.io.js')
   script(src='/js/clientNetwork.js')
   script(type='text/javascript' src='/js/controllerJS/click.js')
   script(type='text/javascript' src='/js/controllerJS/sensor.js')
