//
   Created by michaelschleiss on 29.10.15.

//- controllerDemo.jade
doctype html
html
   head
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/controllerCSS/myButton.css')
      script(src="/js/jquery-min.js")
   body
      div(class='myButton', id='btn-A')
         span(class = 'buttonName') A
      div(class='myButton', id='btn-B')
         span(class = 'buttonName') B

   script(src='/socket.io/socket.io.js')
   script(src='/js/clientNetwork.js')
   script(type='text/javascript' src='/js/controllerJS/click.js')
   script(type='text/javascript' src='/js/controllerJS/sensor' +
   '' +
   '.js')
