extends layout
block login
    include loginSite
block controller
    div(id='content-body')
        |!{ controller }
    //- adding menu button independent of controller template

    div(id='btn-overlayMenu')
    div(id='landscape_hint')
