extends layout
block login
    include loginSite
block controller
    |!{ controller }
    //- adding menu button independent of controller template

    div(id='btn-overlayMenu')
    div(id='landscape_hint')
