doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/controllerCSS/login.css', media='screen')
    script(src="/js/libs/jquery.js")
  body
    block error
    block login
    block controller
    block content