//
   Created by chrisheinrichs on 26.11.15.

extends layout
block content
    div#login-body
        noscript
            #nojavascript
                div
                    | This page needs JavaScript. Please
                    a(href='http://enable-javascript.com/', target='_blank', rel='noreferrer') activate JavaScript
                    |  and reload.
        .content
            div
                header#header
                    h1=title
                form#login-form(method='post', name='login',class='login-border')
                    fieldset
                        p.groupTop
                            input#input-user(type='text', name='user', placeholder='User', value='', autofocus='', autocomplete='on', autocapitalize='off', autocorrect='off')
                            img#user-icon(src='img/user.svg', alt='')
                        p.groupBottom
                            input#input-password(type='password', name='password', value='', placeholder='Password', autocomplete='on', autocapitalize='off', autocorrect='off')
                            img#password-icon(src='img/password.svg', alt='')
                        div()
                            button#login.login(type="button", name='submit', value='login') Login
                            button#register.login(type="button", name='submit', value='register') Register
                            button#anonymous.login(type="button", name='submit', value='anonymous') Continue
        footer
            p.info
                a(href='https://gitlab.iue.fh-kiel.de/pm102/project-4-mobil-game-framework/tree/master/NodeServer', target='_blank', rel='noreferrer') M113 - Project