div(id='overlayMenu')
    div(id='overlayMenuContent')
        div(id='overLayButton_Main' class='overlayMenuItem')
            | Main Menu
        div(id='overLayButton_Restart' class='overlayMenuItem')
            | Restart Game
        div(id='overLayButton_Settings' class='overlayMenuItem')
            | Settings
        div(id='overLayButton_Shutdown' class='overlayMenuItem')
            | Shutdown
link(rel='stylesheet', href='/stylesheets/overlayMenu/main.css')