div(id='overlayMenu')
    div(id='overlayMenuContent')
        div(id='overLayActiveButtons')
            div(id='overLayButton_Main_Menu' class='overlayMenuItem activeMenuItem' menuindex = '0')
                | Main Menu
            div(id='overLayButton_Settings' class='overlayMenuItem' menuindex = '1')
                | Settings
            div(id='overLayButton_Restart' class='overlayMenuItem' menuindex = '2')
                | Restart System
            div(id='overLayButton_Shutdown' class='overlayMenuItem' menuindex = '3')
                | Shutdown System
        div(id='overLayActiveUser')
            | Unknown User
link(rel='stylesheet', href='/stylesheets/overlayMenu/main.css')