div(id='overlayMenu')
    div(id='overlayMenuContent')
        div(id='overLayButton_Main' class='overlayMenuItem')
        div(id='overLayButton_Restart' class='overlayMenuItem')
        div(id='overLayButton_Settings' class='overlayMenuItem')
        div(id='overLayButton_Shutdown' class='overlayMenuItem')
link(rel='stylesheet', href='/stylesheets/overlayMenu/main.css')