#content {
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;

    border-radius: 0;
    border: none;
    color: white;
}

#gameBar {
    width: 100%;
    height: 20%;
    padding: 0;

    align-self: center;

    background-color: transparent;
}

#gameContainer {
    height: 100%;
    margin: 0 auto;
    padding: 0;

    display: table;

    background-color: transparent;
    /*background-color: rgba(0,0,0,0.9);*/
}