.gameContainer {
    min-height: 200px;
    background-color: transparent;
    margin: 25px;
}

.gameTile {
    width: 100px;
    height: 100px;
    margin: 20px;
    float: left;

    text-align: center;
    line-height: 100px;

    border-radius: 0;
}

.internal {
    border: 1px solid black;
    background-color: orange;
    color: white;
}
.internal:hover {
    border: 1px solid orange;
}


.external {
    border: 1px solid black;
    background-color: mediumvioletred;
    color: white;
}
.external:hover {
    border: 1px solid mediumvioletred;
}