extends frontendLayout

block content
    h1(class='globalTitle')= title

    div(id='3d', class='threeDContainer')
block log
    div(id='log')

    // Load Require JS
    script(data-main='js/head.js', src='/js/libs/require.js')
