extends frontendLayout

block content
    h1(class='globalTitle')= title

    div(id='3d', class='threeDContainer')
block log
    div(id='log')

    script(src='/socket.io/socket.io.js')
    script(src='/js/libs/three.min.js')
    script(src='/js/libs/jquery-min.js')
    script(src='/js/gameApi.js')
    script(src='/js/3dgame.js')