extends layout

block content
  h1(class='globalTitle')= title

  div(id='3d', class='threeDContainer')
  div(id='content', style='color:grey;font-size:1em')
  script(src='/socket.io/socket.io.js')
  script(src='/js/libs/three.min.js')
  script(src='/js/libs/jquery-min.js')
  script(src='/js/frontend.js')
  script(src='/js/3dgame.js')
