extends layout

block content
  h1= title
  div(id='3d')
  div(id='content')
  script(src='/socket.io/socket.io.js')
  script(src='/js/libs/three.min.js')
  script(src='/js/libs/jquery-min.js')
  script(src='/js/frontend.js')
  script(src='/js/3dgame.js')
