extends layout

block content
  h1(class='globalTitle')= title

  div(id='3d', class='threeDContainer')
  div(id='content', style='color:grey;font-size:1em;max-height:100px;overflow-y: scroll;')
  // Load Require JS
  script(data-main='js/frontend.js', src='/js/libs/require.js')
