doctype html
html
    head
        title= title
    body
        div(id='header')
            div(id='menu')
                div(id='title', class='headerElement')= title
        div(id='content')
            div(id='gameBar')
                div(id='gameContainer')
        div(id='footer')
            div(id='log')

        // Load jQuery
        script(src="/js/libs/jquery.js")

        // Load Require JS
        script(data-main='/js/mainMenu/head.js', src='/js/libs/require.js')

        // Load custom CSS
        link(rel='stylesheet', href='/stylesheets/mainMenu/main.css')
