extends ../frontendLayout

block content
    div(id='header')
        div(id='menu')
            div(id='title', class='headerElement')= title
    div(id='content', class='threeDContainer')
    div(id='overlayMenu')
block log
    div(id='log')

    // Load Require JS
    script(data-main='/js/mainMenu/head.js', src='/js/libs/require.js')

    //Load custom CSS
    link(rel='stylesheet', href='/stylesheets/mainMenu/main.css')
